<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/default.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <appender name="Console" class ="ch.qos.logback.core.ConsoleAppender">
        <layout class ="ch.qos.logback.classic.PatternLayout">
        <Pattern>
            [%date] %highlight(%-5level) [%blue(%t)] %green(%C{1.}): %msg%n%throwable
        </Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>